@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background: linear-gradient(
    #032246cc,
    rgba(32, 104, 149, 0.5)),
    url("fundo.jpg");    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin: 10px;     
    background-attachment: fixed;
    
}

h1{
    border-color: aliceblue;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    outline-width: thick;
    width: 75%;
    height: 15%;
    font-size: 35px;
    text-align: center;
    padding: 15px;
    margin:auto;
}

.par{
    margin: 10px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
p,legend,article{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-indent: 15px;
}

legend{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

div,img{
   margin: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

mark{
    background-color: rgb(0, 133, 185);
}

blockquote{
    font-size: 20px;
}

footer{
    background-color: blue;
    padding: 5px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h2,.par{
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 600;
}

#voltar{
    border-color: aliceblue;
    border-style: solid;
    border-width: 7px;
    border-radius: 5px;
    outline-width: thick;
    margin: 10px;
    outline-width: 20px;
    font-size: 22px;
    text-align: center;
}

a:hover{
    color: blue;
}

iframe{
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 iframe {
    max-width: 460px;
 }