.carrossel {
  overflow: hidden;
  height: 500px;
  width: 500px;
  margin-left: 500px;
  margin-top: 300px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
.container img {
  object-fit: cover;
  height: 500px;
  width: 500px;
}
.container .transform {
  transform: rotate(-45deg);
}
.container h1 {
  color: rgb(221, 36, 118);
  font-weight: bold;
  text-align: center;
  margin-left: 80px;
}

.btn {
  text-decoration: none;
  background: linear-gradient(to right, #53207d, rgb(221, 36, 118));
  color: #fff;
  text-align: center;
  margin-top: 100rem;
  margin-left: 40rem;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
  margin-top: 8%;
  margin-left: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background: #25182f;
  width: 500px;
}

section h2 {
  color: #f5f5f5;
  font-size: 2.5rem;
  margin: 2rem;
}

section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
}

form input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
}

form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  margin-bottom: 20px;
}
form button:hover {
  background: #f5f5f5;
  color: #101026;
  border-radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: #FFF;
  background: #271b31;
}
body::before {
  content: "";
  position: absolute;
  margin-top: 2;
  right: -120em;
  background: linear-gradient(90deg, rgb(250, 82, 82) 0%, rgb(221, 36, 118) 100%);
  width: 200vw;
  height: 120vh;
  position: absolute;
  transform: rotate(70deg);
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  margin-left: 20px;
  width: 120px;
  margin-right: 200px;
}
header .navbar {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 3.2rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-transform: uppercase;
}
header a {
  color: #FFF;
  text-decoration: none;
}
header a:hover {
  transition: 0.3s all;
  color: rgb(221, 36, 118);
  cursor: pointer;
}
header .log {
  background-color: rgb(221, 36, 118);
  padding: 5px 10px 10px 10px;
  border-radius: 30px;
  margin-right: 20px;
}
header .log:hover {
  color: #271b31;
  transition: all 0.3s;
  cursor: pointer;
}

.cards-1 {
  display: inline-block;
  margin-top: 5rem;
  margin-left: 14rem;
  text-align: center;
  margin-bottom: 40px;
}
.cards-1 h1 {
  margin-bottom: 4rem;
  font-size: 29px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(to right, #53207d, rgb(221, 36, 118));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.cards-1 img {
  width: 300px;
}

.cards-2 {
  margin-left: 14rem;
}
.cards-2 img {
  width: 300px;
  height: 300px;
}

/*# sourceMappingURL=home.css.map */
